/* poppins-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('./fonts/poppins-v24-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/poppins-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/poppins-v24-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

$size-100: calc(8 / 16 * 1rem);
$size-162: calc(13 / 16 * 1rem);
$size-188: calc(15 / 16 * 1rem);
$size-200: calc(16 / 16 * 1rem);
$size-250: calc(20 / 16 * 1rem);
$size-300: calc(24 / 16 * 1rem);
$size-400: calc(32 / 16 * 1rem);
$size-450: calc(36 / 16 * 1rem);
$size-500: calc(40 / 16 * 1rem);

$grey-500: hsl(234, 12%, 34%);
$grey-400: hsl(212, 6%, 44%);
$white: hsl(0, 0%, 100%);
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$blue: hsl(212, 86%, 64%);
$orange: hsl(34, 97%, 64%);

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.text-preset-1 {
  font-size: $size-450;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.25px;
}

.mobile-text-preset-1 {
  font-size: $size-300;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.25px;
}

.text-preset-2 {
  font-size: $size-450;
  font-weight: 200;
  line-height: 1.4;
  letter-spacing: 0;
}

.mobile-text-preset-2 {
  font-size: $size-300;
  font-weight: 200;
  line-height: 1.4;
  letter-spacing: 0;
}

.text-preset-3 {
  font-size: $size-250;
  font-weight: 600;
  line-height: 1.35;
  letter-spacing: 0;
}

.text-preset-4 {
  font-size: $size-188;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0;
}

.text-preset-5 {
  font-size: $size-162;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: $grey-500;
}

header {
  text-align: center;
  padding-left: calc(29 / 16 * 1rem);
  padding-right: calc(30 / 16 * 1rem);
  padding-top: calc(56 / 16 * 1rem);

  h1 {
    margin-bottom: $size-200;

    span {
      display: block;
    }
  }

  p {
    margin-bottom: calc(60 / 16 * 1rem);
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: $size-400;
  padding-left: calc(29 / 16 * 1rem);
  padding-right: calc(30 / 16 * 1rem);
  padding-bottom: calc(32 / 16 * 1rem);
 // height: 100vh;

  article {
    box-shadow:
        -5px 0 10px -5px rgba(106,113,120,0.2), /* Left shadow */
        5px 0 10px -5px rgba(106,113,120,0.2),  /* Right shadow */
        0 10px 15px 2px rgba(106,113,120,0.3);  /* Bottom shadow */
    padding: calc(32 / 16 * 1rem) calc(32 / 16 * 1rem) calc(47 / 16 * 1rem) calc(32 / 16 * 1rem);
    border-radius: $size-100;

    &.cyan-top-border {
      border-top: 4px solid $cyan;
    }

    &.red-top-border {
      border-top: 4px solid $red;
    }

    &.orange-top-border {
      border-top: 4px solid $orange;
    }

    &.blue-top-border {
      border-top: 4px solid $blue;
    }

    p {
      color: $grey-400;
    }

    img {
      margin-top: $size-400;
      float: right;
    }
  }
}

@media (min-width: 768px) {
  header {
    padding-top: calc(80 / 16 * 1rem);
    padding-left: calc(114 / 16 * 1rem);
    padding-right: calc(114 / 16 * 1rem);

    .mobile-text-preset-1, .mobile-text-preset-2 {
      font-size: $size-450;
    }

    p {
      margin-bottom: calc(74 / 16 * 1rem);
    }
  }

  main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    ". item1 item1 ."
    "item2 item2 item3 item3"
    ". item4 item4 .";
    margin-bottom: calc(80 / 16 * 1rem);
    padding-left: calc(54 / 16 * 1rem);
    padding-right: calc(54 / 16 * 1rem);

    .red-top-border {
      grid-area: item1;
    }

    .cyan-top-border {
      grid-area: item2;
    }

    .orange-top-border {
      grid-area: item3;
    }

    .blue-top-border {
      grid-area: item4;
    }
  }
}

@media (min-width: 1440px) {
  header {
    padding-top: calc(102 / 16 * 1rem);

    p {
      width: 540px;
      margin: 0 auto calc(74 / 16 * 1rem);
    }
  }

  main {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: auto;
    grid-template-areas:
    ". item2 ."
    "item1 item2 item4"
    "item1 item3 item4"
    ". item3 .";
    gap: $size-400;
    margin-bottom: calc(163 / 16 * 1rem);

    article {
      width: 350px;
    }

    .cyan-top-border {
      grid-area: item1;
    }

    .red-top-border {
      grid-area: item2;
    }

    .orange-top-border {
      grid-area: item3;
    }

    .blue-top-border {
      grid-area: item4;
    }
  }
}